ion-checkbox {
    --size: 32px;
    --checkbox-background-checked: #6815ec;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #6815ec;
  }
  ion-label{
    text-align: center;
  }
.cabezera{
  background-image: url(https://i.pinimg.com/originals/16/03/fb/1603fb7077abb9093f4af305b4e5ce79.gif);
}
.titulo{
  color:white
}
.text_usuario{
  color: white;
}
.flecha{
  color: white;
}
.contenido{
  background-image: url(https://i.gifer.com/E8jj.gif);
}