<ion-header [translucent]="true">
  <ion-toolbar color="blue" class="cabecera">
    <ion-title class="tituloTienda">TIENDA</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [icon]=iconoCasa defaultHref="/inicio" class="iconoBoton"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="avatar">
      <ion-chip routerLink="/tabs/tab3">
        <ion-avatar class="avatarUsuario">
          <img [src]=imgUsuario alt="Usuario">
        </ion-avatar>
        <ion-label class="textoUsuario">Usuario</ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido">
  <ion-list color="blue" class="fondo">
   <ion-card class="carta">
  <img  [src]=foto_f1 width="500" height="250"/>
    <div class="alinear">
      <ion-list>
        <ion-item>
          <ion-icon [name]=icon_play></ion-icon>
          <ion-toggle>PlayStation</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-icon [name]=icon_xbox></ion-icon>
          <ion-toggle>Xbox</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-icon [name]=icon_win></ion-icon>
          <ion-toggle>PC</ion-toggle>
        </ion-item>
      </ion-list>
    </div>
  <div class="comprar">
      <ion-card-content>
        <ion-checkbox>Comprar<ion-icon  class="carrito"[name]=icon_compra ></ion-icon></ion-checkbox>
      </ion-card-content>
    </div>
    <div class="texto">
    <ion-card-header>
    <ion-card-title>F124</ion-card-title>
    <ion-card-subtitle>24,99€</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="descripcion">
   {{text_f1}}
  </ion-card-content>
</div>
</ion-card>
<ion-card>
  <img  [src]=foto_fc25 width="500" height="250"/>
  <div class="alinear">
    <ion-list>
      <ion-item>
        <ion-icon [name]=icon_play></ion-icon>
        <ion-toggle>PlayStation</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_xbox></ion-icon>
        <ion-toggle>Xbox</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_win></ion-icon>
        <ion-toggle>PC</ion-toggle>
      </ion-item>
    </ion-list>
  </div>
  <div class="comprar">
    <ion-card-content>
      <ion-checkbox>Comprar<ion-icon  class="carrito"[name]=icon_compra ></ion-icon></ion-checkbox>
    </ion-card-content>
  </div>
  <div class="texto">
  <ion-card-header>
    <ion-card-title>FC25</ion-card-title>
    <ion-card-subtitle>49,99€</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="descripcion">
   {{text_fc25}}
  </ion-card-content>
  </div>
</ion-card>
<ion-card>
  <img  [src]=foto_crew width="500" height="250"/>
  <div class="alinear">
    <ion-list>
      <ion-item>
        <ion-icon [name]=icon_play></ion-icon>
        <ion-toggle>PlayStation</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_xbox></ion-icon>
        <ion-toggle>Xbox</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_win></ion-icon>
        <ion-toggle>PC</ion-toggle>
      </ion-item>
    </ion-list>
  </div>
<div class="comprar">
    <ion-card-content>
      <ion-checkbox>Comprar<ion-icon  class="carrito"[name]=icon_compra ></ion-icon></ion-checkbox>
    </ion-card-content>
  </div>
  <div class="texto">
  <ion-card-header>
    <ion-card-title>The Crew 2</ion-card-title>
    <ion-card-subtitle>0,99€</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="descripcion">
   {{text_crew}}
  </ion-card-content>
  </div>
</ion-card>
<ion-card>
  <img  [src]=foto_forhonor width="500" height="250"/>
  <div class="alinear">
    <ion-list>
      <ion-item>
        <ion-icon [name]=icon_play></ion-icon>
        <ion-toggle>PlayStation</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_xbox></ion-icon>
        <ion-toggle>Xbox</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_win></ion-icon>
        <ion-toggle>PC</ion-toggle>
      </ion-item>
    </ion-list>
  </div>
<div class="comprar">
    <ion-card-content>
      <ion-checkbox>Comprar<ion-icon  class="carrito"[name]=icon_compra ></ion-icon></ion-checkbox>
    </ion-card-content>
  </div>
  <div class="texto">
  <ion-card-header>
    <ion-card-title>For Honor</ion-card-title>
    <ion-card-subtitle>9,99€</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="descripcion">
   {{text_forhonor}}
  </ion-card-content>
</div>
</ion-card>
<ion-card>
  <img  [src]=foto_blas width="500" height="250"/>
  <div class="alinear">
    <ion-list>
      <ion-item>
        <ion-icon [name]=icon_play></ion-icon>
        <ion-toggle>PlayStation</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_xbox></ion-icon>
        <ion-toggle>Xbox</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_win></ion-icon>
        <ion-toggle>PC</ion-toggle>
      </ion-item>
    </ion-list>
  </div>
<div class="comprar">
    <ion-card-content class="descripcion">
      <ion-checkbox>Comprar<ion-icon  class="carrito"[name]=icon_compra ></ion-icon></ion-checkbox>
    </ion-card-content>
  </div>
  <div class="texto">
  <ion-card-header>
    <ion-card-title>Blasphemous</ion-card-title>
    <ion-card-subtitle>4,99€</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="descripcion">
   {{text_blasphemous}}
  </ion-card-content>
</div>
</ion-card>
<ion-card>
  <img  [src]=foto_blas2 width="500" height="250"/>
  <div class="alinear">
    <ion-list>
      <ion-item>
        <ion-icon [name]=icon_play></ion-icon>
        <ion-toggle>PlayStation</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_xbox></ion-icon>
        <ion-toggle>Xbox</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_win></ion-icon>
        <ion-toggle>PC</ion-toggle>
      </ion-item>
    </ion-list>
  </div>
<div class="comprar">
    <ion-card-content>
      <ion-checkbox>Comprar<ion-icon  class="carrito"[name]=icon_compra ></ion-icon></ion-checkbox>
    </ion-card-content>
  </div>
  <div class="texto">
  <ion-card-header>
    <ion-card-title>Blasphemous2</ion-card-title>
    <ion-card-subtitle>9,99€</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="descripcion">
   {{text_blasphemous2}}
  </ion-card-content>
</div>
</ion-card>
<ion-card>
  <img  [src]=foto_issac width="500" height="250"/>
  <div class="alinear">
    <ion-list>
      <ion-item>
        <ion-icon [name]=icon_play></ion-icon>
        <ion-toggle>PlayStation</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_xbox></ion-icon>
        <ion-toggle>Xbox</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_win></ion-icon>
        <ion-toggle>PC</ion-toggle>
      </ion-item>
    </ion-list>
  </div>
<div class="comprar">
    <ion-card-content>
      <ion-checkbox>Comprar<ion-icon  class="carrito"[name]=icon_compra ></ion-icon></ion-checkbox>
    </ion-card-content>
  </div>
  <div class="texto">
  <ion-card-header>
    <ion-card-title>The bing of issac</ion-card-title>
    <ion-card-subtitle>2,99€</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="descripcion">
   {{text_issac}}
  </ion-card-content>
  </div>
</ion-card>
<ion-card>
  <img  [src]=foto_minecraft width="500" height="250"/>
  <div class="alinear">
    <ion-list>
      <ion-item>
        <ion-icon [name]=icon_play></ion-icon>
        <ion-toggle>PlayStation</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_xbox></ion-icon>
        <ion-toggle>Xbox</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_win></ion-icon>
        <ion-toggle>PC</ion-toggle>
      </ion-item>
    </ion-list>
  </div>
<div class="comprar">
    <ion-card-content>
      <ion-checkbox>Comprar<ion-icon  class="carrito"[name]=icon_compra ></ion-icon></ion-checkbox>
    </ion-card-content>
  </div>
  <div class="texto">
  <ion-card-header>
    <ion-card-title>Minecraft</ion-card-title>
    <ion-card-subtitle>2,99€</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="descripcion">
   {{text_minecraft}}
  </ion-card-content>
  </div>
</ion-card>
<ion-card>
  <img  [src]=foto_gta width="500" height="250"/>
  <div class="alinear">
    <ion-list>
      <ion-item>
        <ion-icon [name]=icon_play></ion-icon>
        <ion-toggle>PlayStation</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_xbox></ion-icon>
        <ion-toggle>Xbox</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_win></ion-icon>
        <ion-toggle>PC</ion-toggle>
      </ion-item>
    </ion-list>
  </div>
<div class="comprar">
    <ion-card-content>
      <ion-checkbox>Comprar<ion-icon  class="carrito"[name]=icon_compra ></ion-icon></ion-checkbox>
    </ion-card-content>
  </div>
  <div class="texto">
  <ion-card-header>
    <ion-card-title>GTA5</ion-card-title>
    <ion-card-subtitle>13,99€</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="descripcion">
   {{text_gta5}}
  </ion-card-content>
</div>
</ion-card>
<ion-card>
  <img  [src]=foto_call width="500" height="250"/>
  <div class="alinear">
    <ion-list>
      <ion-item>
        <ion-icon [name]=icon_play></ion-icon>
        <ion-toggle>PlayStation</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_xbox></ion-icon>
        <ion-toggle>Xbox</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon [name]=icon_win></ion-icon>
        <ion-toggle>PC</ion-toggle>
      </ion-item>
    </ion-list>
  </div>
<div class="comprar">
    <ion-card-content>
      <ion-checkbox>Comprar<ion-icon  class="carrito"[name]=icon_compra ></ion-icon></ion-checkbox>
    </ion-card-content>
  </div>
  <div class="texto">
  <ion-card-header>
    <ion-card-title>Call Of Duty Black Ops 2</ion-card-title>
    <ion-card-subtitle>19,99€</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="descripcion">
   {{text_blb}}
  </ion-card-content>
</div>
</ion-card>
  </ion-list>
</ion-content>
