.cabezera{
   background-image: url(https://i.pinimg.com/originals/16/03/fb/1603fb7077abb9093f4af305b4e5ce79.gif);
}
.contenido{
    background-img:url(https://e0.pxfuel.com/wallpapers/653/383/desktop-wallpaper-bloodstained-ritual-of-the-night-devs-shifting-resources-to-improve-performance-on-nintendo-switch.jpg);
}
.titulo{
    color:white;
  }
  .text_usuario{
    color: white;
  }
  .flecha{
    color: white;
  }
.ion-item-left{
  background-color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}