<ion-header [translucent]="true">
  <ion-toolbar color="blue" class="cabecera">
    <ion-title class="tituloNoticias">NOTICIAS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [icon]=iconoCasa defaultHref="/inicio" class="iconoBoton"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="avatar">
      <ion-chip routerLink="/tabs/tab3">
        <ion-avatar class="avatarUsuario">
          <img [src]=imgUsuario alt="Usuario">
        </ion-avatar>
        <ion-label class="textoUsuario">Usuario</ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido" color="black">
  <ion-segment [(ngModel)]=segmentoSeleccionado>
    <ion-segment-button value="competiciones">Competiciones</ion-segment-button>
    <ion-segment-button value="novedades">Novedades</ion-segment-button>
    <ion-segment-button value="nuevas versiones">Nuevas Versiones</ion-segment-button>
    <ion-segment-button value="franquicias">Franquicias</ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="segmentoSeleccionado === 'competiciones'">
    <ion-list class="listaSegmentos">
      <ion-item *ngFor="let competicion of competicionesESports">
        <ion-thumbnail class="imgSegment"> 
          <img [src]=competicion.foto alt={{competicion.nombre}}>
        </ion-thumbnail>
        <ion-label class="label">
          <h2 class="tituloSegment">{{competicion.nombre}}</h2>
          <p class="descripcionSegment">{{competicion.contenido}}</p>
          <a [href]=competicion.url target="_blank" class="enlaceSegment">Leer más</a>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="segmentoSeleccionado === 'novedades'">
    <ion-list class="listaSegmentos">
      <ion-item *ngFor="let novedad of novedadesJuegos">
        <ion-thumbnail class="imgSegment"> 
          <img [src]=novedad.foto alt={{novedad.nombre}}>
        </ion-thumbnail>
        <ion-label class="label">
          <h2 class="tituloSegment">{{novedad.nombre}}</h2>
          <p class="descripcionSegment">{{novedad.contenido}}</p>
          <a [href]=novedad.url target="_blank" class="enlaceSegment">Leer más</a>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="segmentoSeleccionado === 'nuevas versiones'">
    <ion-list class="listaSegmentos">
      <ion-item *ngFor="let version of versionesNuevas">
        <ion-thumbnail class="imgSegment"> 
          <img [src]=version.foto alt={{version.nombre}}>
        </ion-thumbnail>
        <ion-label class="label">
          <h2 class="tituloSegment">{{version.nombre}}</h2>
          <p class="descripcionSegment">{{version.contenido}}</p>
          <a [href]=version.url target="_blank" class="enlaceSegment">Leer más</a>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="segmentoSeleccionado === 'franquicias'">
    <ion-list class="listaSegmentos">
      <ion-item *ngFor="let franquicia of franquicias">
        <ion-thumbnail class="imgSegment"> 
          <img [src]=franquicia.foto alt={{franquicia.nombre}}>
        </ion-thumbnail>
        <ion-label class="label">
          <h2 class="tituloSegment">{{franquicia.nombre}}</h2>
          <p class="descripcionSegment">{{franquicia.contenido}}</p>
          <a [href]=franquicia.url target="_blank" class="enlaceSegment">Leer más</a>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
