<ion-header [translucent]="true"  class="cabezera" >
  <ion-toolbar color="blue">
    <ion-title class="titulo">Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio" icon="chevron-back-outline" class="flecha" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="contenido"  color="blue">
  <ion-list class="contenido" color="blue">
    <ion-item class="email">
      <ion-label position="floating">Email</ion-label>
      <ion-input  type="email"></ion-input>
    </ion-item>
    <ion-item class="contraseña">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input  type="password"></ion-input>
    </ion-item>
    <div class="boton">
      <ion-button  expand="full">Registrarse</ion-button>
    </div>
    <img [src]=img_banne  class="imag">
  </ion-list>
</ion-content>
