<ion-header [translucent]="true" >
  <ion-toolbar>
   
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="segunda-pagina" icon="chevron-back-outline" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="contenido">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item class="email">
      <ion-label position="floating">Email</ion-label>
      <ion-input  type="email"></ion-input>
    </ion-item>
    <ion-item class="contraseña">
      <ion-label position="floating">Password</ion-label>
      <ion-input  type="password"></ion-input>
    </ion-item>
  </ion-list>
  <div class="boton">
    <ion-button  expand="full">Login</ion-button>
  </div>
      <img [src]=img_banne  class="imag">
    
</ion-content>
