.email{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}
.contraseña{
    margin-left: 100px;
    margin-right: 100px;
 
}
.imag{

    display: flex;       
    margin-left: auto;     
    margin-right: auto;    
    width: 50%;
    height: 65%;
                   
}
.boton{
    margin-left: 100px;
    margin-right: 100px;
}
.cabezera{
    background-image: url(https://i.pinimg.com/originals/16/03/fb/1603fb7077abb9093f4af305b4e5ce79.gif);
}
.titulo{
    color:white
}
.flecha{
    color: white;
  }
   