// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-new: #b95fe3;
	--ion-color-new-rgb: 185,95,227;
	--ion-color-new-contrast: #000000;
	--ion-color-new-contrast-rgb: 0,0,0;
	--ion-color-new-shade: #a354c8;
	--ion-color-new-tint: #c06fe6;
}