<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SegundaPagina</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SegundaPagina</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-label>Sobre nosotros</ion-label>
  <ion-label>Pixel Odyssey</ion-label>
  <ion-button routerLink = "/tabs/tab1">Juegos</ion-button>
  <ion-button routerLink = "/tabs/tab2">Loteria</ion-button>
  <ion-button routerLink = "/tabs/tab3">Conjunto</ion-button>
</ion-content>
