*{
   margin: 0px;
   padding: 0px;
}

.barraHerramientasPagina2 {
   background-color: #2196f3;
   height: 100%;
   width: 100%;
}

.tituloPagina2{
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: white;
   font-size: 100px;
}

.iconoBoton {
   margin-left: 25px;
}

.descripcionEmpresa {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: left;
   height: 100%;
   padding: 15px 20px;
}

.descripcion{
   margin-top: -400px;
   margin-left: 35px;
   margin-right: 35px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}

.logoPlayVibe {
   margin-top: -20px;
   width: 250px;
   height: 250px;
}

.contenedorEstadisticas{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: left;
   height: 100%;
   width: 100%;
   padding: 10px 20px;
   margin-top: -400px;
}

.tituloEstadisticas{
   font-size: 70px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: #6700b1;
   margin-top: 120px;
}

.listaEstadisticas {
   width: 100%;
   max-width: 600px;
   margin: 0 auto;
   background-color: grey;
   padding: 10px;
   border-radius: 15px;
   border: 5px solid #6700b1;
}

ion-item{
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
   text-align: left;
}

ion-icon{
   margin-right: 20px;
   color:#2196f3;
}

.valor{
   margin-left: auto;
   color:#ff9800;
   text-align: right;
   width: 100px;
}

.nombre{
   margin-right: 25px;
   color: #ff9800;
}

.botonModal {
   margin-right: 750px;
   margin-top: -160px;
   border-radius: 10px;
   color: white;
   border: 4px solid #000000;
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

.modal {
   width: 100%;
   height: 100%;
}

.tituloModal{
   text-align: center;
   font-size: 40px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.botonCerrarModal{
   font-size: 10px;
   text-align: right;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tituloValor{
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: left;
   color:#2196f3;
   margin: 10px;
}

.valorModal{
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   margin-right: 30px;
   color: #ff9800;
}

.descripcionValor{
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: justify;
   margin: 5px 15px;
}

.descripcionValorLista{
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: justify;
   margin: 15px;
   margin-left: 20px;
   margin-right: 20px;
}

ion-footer{
   text-align: center;
   background-color: #2196f3;
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.botonesFooter{
   display: flex;
   justify-content: center;
   align-items: center;
}

.iconoBotonesFooter{
   color: white;
   font-size: 30px;
}