*{
   margin: 0px;
   padding: 0px;
}

.barraHerramientasPagina2 {
   background-color: #2196f3;
   height: 100%;
   width: 100%;
}

.tituloPagina2{
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: white;
   font-size: 100px;
}

.iconoBoton {
   margin-left: 25px;
}

.logoPlayVibe {
   width: 250px;
   height: 250px;
}