<ion-header [translucent]="true">
  <ion-toolbar class="barraHerramientas" color="blue">
    <ion-title class="titulo">INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="botones">
    <button routerLink = "/segunda-pagina" class="boton1">SOBRE NOSOTROS</button>
  </div>
  <div>
    <button routerLink = "/tabs" class="boton2">VIDEOJUEGOS</button>
  </div>
</ion-content>
